html {
    background-color: #000;
}

* {
  transition: 0.8s;
}

h1,
h2,
p, 
li,
span{
    color: #fff;
}

.caja-uno {
  font-size: 40px;
  border: 2px solid white;
}

.caja-uno:hover {
  color: black;
  border-radius: 60px 20px;
  background-color: lightgrey !important;
  transition: 0.5s;
}


.caja-dos {
  font-size: 40px;
  border: thin solid grey;
  border-left: 10px solid limegreen;
}

.caja-dos:hover {
  color:brown;
  border-radius: 20px 60px;
  border-left: 10px solid limegreen;
  background-color: aquamarine;
}

.caja-tres {
  background-color: lightslategray;
  color: black;
  border: thick dotted darkslategray;
  font-size: 48px;
}

.caja-tres:hover {
  transition: 0.8s;
  color: white;
  background-color: black;
  border-radius: 20px 30px;
}